@import "variables";
@import "globals";

/**********************slider styles*********************/

/**********************end of styles*********************/
.slider-container {
    position: relative;
    .slider {
        position: relative;
        width: 100%;
        overflow: hidden;


        /* end of slider pagination*/

        .slide {
            position: relative;
            width: 100%;
            display: none;

            img {
                height: 100%;
                object-fit: cover;
                opacity: 0;
            }
            .text-overlay {
                position: absolute;
                top: 50%;
                left: 20%;
                color: $titleColor;
                text-align: center;
                opacity: 0.1;
                h2 {
                    font-size: 6rem;
                    text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
                }
            }
            &.active {
                display: block;
                img {
                opacity: 1;
                /* Set opacity to 1 when the slide is active */
                }
                .text-overlay {
                opacity: 1;
                }
    }
            
        }
    }

    /*slider pagination*/
        .slider-pagination {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .dot {
                width: 20px;
                height: 20px;
                background-color: #bbb;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
                opacity: 0.6;

                &.active {
                    background-color: #333;
                }
            }
        }
}
